body {background-color: #888888; }
p {margin-left:20px;
			color:white;}
		p.important {text-decoration:underline;}
		p.yell {font-size:30px;}

		div.clock {color:white; margin-left:20px;font-size:30px;background:#4399ff;}
